@use "@grit/client-library/theme.scss";

.appContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  max-height: 100vh;

  ::-webkit-scrollbar-track {
    background-color: theme.$palette-primary-main;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme.$palette-secondary-main;
    border-radius: 1em;

    &:hover {
      background-color: theme.$palette-secondary-dark;
    }
  }

  ::-webkit-scrollbar-corner {
    background: theme.$palette-primary-main;
  }

  &.withHeader {
    grid-template-rows: max-content max-content 1fr;
  }
}

.appBodyContainer {
  width: 100%;
  max-width: 100%;
  overflow-y: auto;

  &.withPadding {
    padding: calc(theme.$spacing * 2);
  }
}
