<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>Your account have been disabled because the allowed maximum number of consecutive failed login attemps have been exceded.</p>

        <p>To reactivate your account follow the link below to reactivate your account.</p>

        <p><a href='<%= @server_url %>/app/core/activate/<%= @token%>'>Reactivate my account</a></p>

        <p>If the above link does not work try copying and pasting it into your browser.</p>
    </body>
</html>
