<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>Welcome to grit42. Click the link below to activate your account.</p>

        <p><a href='<%= @server_url %>/core/activate/<%= @token%>'>Click here to activate the account</a></p>

        <p>If the above link does not work try copying and pasting it into your browser.</p>

    </body>
</html>
