<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>Welcome to grit42. Here is your token for two factor log in.</p>

        <p><strong><%= @token%></strong></p>

    </body>
</html>
