<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>The number of consective failed login attemps have been exceded. Click the link below to reactivate your account.</p>

        <p><a href='<%= @server_url %>/app/core/activate/<%= @token%>'>Click here to reactivate the account</a></p>

        <p>If the above link does not work try copying and pasting it into your browser.</p>

    </body>
</html>
