<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>A reset of your password have been requested. Follow the below link if this is correct and you want to reset your password</p>

        <p><a href='<%= @server_url %>/core/password_reset/<%= @token%>'>Go to the server and reset the password</a></p>

        <p>If the above link does not work try copying and pasting it into your browser.</p>

    </body>
</html>
